<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>결제 확인 페이지</title>
    </head>
    <script>
        function pay(){
            const amount = document.getElementById("amount").innerText;
            const name = document.getElementById("name").innerText;
            const price = document.getElementById("price").innerText;
            console.log(amount);

            for(var i=0;i<parseInt(amount);i++){
                console.log("ADFadsf");
                console.log(name);
                console.log(price);
            }
            


        }
    </script>
    <body>
        <div>
            고르신 내역
        </div>
        <div>
            <%
                var i = 0;
                var count = 0;
                var amount = rows.name.length;
                //console.log(rows.name[0]+" asdfasdfsd");
                for(i;i<rows.name.length; i++)
                {
                    var name = rows.name[i];
                    var price =rows.price[i];
                    count += parseInt(price);
                    
            %>
                    <p id = "name"><%= name %></p>
                    <p id = "price"><%= price %></p>
                <%}%>
                <p id="amount">고른 메뉴 개수 : <%= amount %></p>
                <p>총 결제 금액 : <%= count %></p>%>
                <button onclick = "pay()">결제</button>
        </div>
        
    </body>
</html>