<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>결제 확인 페이지</title>
    </head>
    <body>
        <div>
            고르신 내역
        </div>
        <div>
            <%
                var i = 0;
                //console.log(rows.name[0]+" asdfasdfsd");
                for(i;i<rows.name.length; i++)
                {
                    var name = rows.name[i];
                    
                    var price =rows.price[i];
                    
            %>
                    <p><%= name %></p>
                    <p><%= price %></p>
                <%}%>
        </div>
        <button>결제</button>
    </body>
</html>