<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/delete.js" defer></script>
    <title>delete</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="menu" type="text" placeholder="select menu"/>
            <p id="button">delete</p>
            <p class="message">Done? <a href="/">back</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->