<!DOCTYPE html>
<html lang ="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        <script src="/js/home/index.js" defer></script>
        <title>Document</title>
    </head>

   
    <body>
      <div class="login-page">
            <div class="form">
              <form class="login-form">
                <p id = "login" onclick = "location.href='/login'">login</p>
                <p id = "regist" onclick = "location.href='/register'">regist</p>
                <p id = "list" onclick = "location.href='/list'">list</p>
                <p id = "list" onclick = "location.href='/menu'">menu</p>
                <p id = "list" onclick = "location.href='/manage'">manage</p>
                <p id = "list" onclick = "location.href='/cook'">cook</p>
                <p id = "list" onclick = "location.href='/logOut'">logOut</p>
                <p id = "list" onclick = "location.href='/logOut'">testlogOut</p>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
              </form>
            </div>
          </div>
    </body>
    
</html>


<!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->