<!DOCTYPE html>
<html lang ="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/list.css">
        <title>list</title>
        
    </head>

    <body>
        <input type="text" id="searchKey" value="">
        <button id="search">검색하기</button>
        <div class="table">
            <div class="form">
                <table>
                    <thead>
                        <th>seq</th>
                        <th>name</th>
                        <th>date</th>
                        <th>develop</th>
                    </thead>
                    <tbody>
                        <%
                        var i =0;
                        for(i;i<rows.length; i++)
                        {
                            var data = rows[i];
                        
                        %>
                        <tr>
                            <td><%= data.seq %></td>
                            <td><%= data.name %></td>
                            <td><%= data.date %></td>
                            <td><%= data.develop %></td>
                        </tr>
                        <%}%>
                        

                    </tbody>

                </table>
            </div>
        </div>
        
    </body>

    <script>
        const search = document.querySelector('#search');

        search.addEventListener("click",()=>{
            const searchKey = document.getElementById('searchKey').value;

            console.log(searchKey);
            location.href = "/list?key="+searchKey; 
        });
    </script>
</html>