<!DOCTYPE html>
<html lang ="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/list.css">
        <script src="../../models/list.js" ></script>
        <title>list</title>
    </head>
    <body>
        <div class="table">
            <div class="form">
                <table>
                    <thead>
                        <th>seq</th>
                        <th>name</th>
                        <th>date</th>
                        <th>develop</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>노예준</td>
                            <td>0417</td>
                            <td>건축</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>안지온</td>
                            <td>0101</td>
                            <td>격투기</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>안예온</td>
                            <td>0102</td>
                            <td>울기</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        
    </body>

</html>