<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<script>
  const userId = document.getElementById("userid").innerText;
  alert(userId);
  if(userId !== null){
    alert("이미 로그인 되어 있습니다");
    window.history.go(-1);
  }
</script>
<body>

    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="userid"/>
            <input id="passWord" type="password" placeholder="password"/>
            <p id="button">login</p>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>
      <span id="userid" ><%= sessionId %></span>
</body>
</html>

<!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->