<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        <script src="/js/home/index.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <p id = "login" onclick = "location.href='/add'">add</p>
                <p id = "regist" onclick = "location.href='/delete'">delete</p>
                <p id = "list" onclick = "location.href='/modify'">modify</p>
                
                <p class="message">let'go back <a href="/">back</a></p>
              </form>
            </div>
          </div>
    </body>
</html>