<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/menu.css">

        <title>menu</title>
    </head>
    <body>
            <div class="left"></div>
            
            <div class="center">
                <div class="menu_bar">
                    <!--<div class="food" onclick="category('한식')">한식</div>-->
                    <div class="food" onclick="fetch('menu?sel=한식').then(function(response){
                        response.text().then(function(text){
                            document.querySelector('body').innerHTML=text;
                        })
                    })">한식</div>
                   <!-- <div class="food" onclick="category('양식')">양식</div>-->
                    <div class="food" onclick="fetch('menu?sel=양식').then(function(response){
                        response.text().then(function(text){
                            document.querySelector('body').innerHTML=text;
                        })
                    })">양식</div>

<div class="food" onclick="fetch('menu?sel=분식').then(function(response){
    response.text().then(function(text){
        document.querySelector('body').innerHTML=text;
    })
})">분식</div>



                </div>
                <div class="menu_list">    
            <% 
                var i = 0; 
                for(i;i<rows.length; i++)
                {
                    var data = rows[i];
                %>
                    <div id="menu">
                    <h6 id = "menu_name"><%= data.menu%>&nbsp&nbsp(<%= data.price %> \)</h6>
                    <img src="https://ifh.cc/g/xzgNxP.jpg">
                    <div class="priceAddBtn">
                    <button onclick = "menuSel('<%= data.menu%>' , '<%= data.price %>')" id = "menuBtn">선택</button>
                    </div>
                </div>
            <%}%>
                </div>

        <div class="navbar"></div>

        <div class="PayAddBack_btn">      
        <button id = "pay">결제하기</button>
        <button onclick = "location.href='/'">뒤로가기</button>
        </div> 
        </div> <!--center-->
        <div class="right"></div>
    </body>
   <script src="/js/home/menuList.js" ></script>
</html>