<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>menu</title>
    </head>
    <body>
        <div class='live_broadcast' onclick='gotoBoard()'>
            <img src=""  >
            <h1>$name<br>$userId</h1>
            
        </div>
        

    </body>
</html>