<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>menu</title>
    </head>
    <body>
            
            <% 
                var i = 0; 
                
                for(i;i<rows.length; i++)
                {
                    
                    var data = rows[i];
                    
                %>
                <div>
                    <img src="" >
                    <h6 id = "menu"><%= data.menu%></h6>
                    <h6 id = "price"><%= data.price %></h6>
                    <button onclick = "menuSel('<%= data.menu%>' , '<%= data.price %>')" id = "menuBtn">선택</button>
                    
                </div>   
                
            <%}%>
            <br>
        
        <button onclick="category('한식')">한식</button>
        <button onclick="category('분식')">분식</button>
        <button onclick="category('양식')">양식</button>

        <br><br>

        <button id = "pay">결제하기</button>
        

    </body>
    <script src="/js/home/menuList.js" ></script>
</html>